<div class="col-lg-9" style="margin: auto;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Codice</th>
        <th scope="col">Titolo</th>
        <th scope="col">Autore</th>
        <th scope="col">Trama</th>
        <th scope="col">Prima Edizione</th>
        <th scope="col">Inserito da</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="mostra(libro)" style="cursor: pointer;" *ngFor="let libro of listaLibri">
        <th scope="row">{{libro.id}}</th>
        <td>{{libro.titolo}}</td>
        <td>{{libro.autore}}</td>
        <td *ngIf="!libro.aperto">Clicca per leggere la trama</td>
        <td *ngIf="libro.aperto">{{libro.trama}}</td>
        <td>{{libro.primaEdizione}}</td>
        <td>{{libro.creatore}}</td>
        <td (click)="modifica(libro)"><i class="fas fa-pencil-alt" style="z-index: 20;"></i></td>
      </tr>
    </tbody>
  </table>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>

