<!-- Form Login -->
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 card" style="background-color: whitesmoke;">
      <form role="form" (submit)="onSubmit($event)">
        <h2 class="text-center">Login</h2>
        <div class="form-group">
          <input
            [(ngModel)]="myForm.user"
            type="text"
            required
            name="user"
            #user
            class="form-control input-lg"
            placeholder="User"
          />
        </div>
        <div class="form-group">
          <input
            [(ngModel)]="myForm.password"
            type="password"
            required
            name="password"
            #password
            class="form-control input-lg"
            placeholder="Password"
          />
        </div>
        <p *ngIf="!booleanaErr" style="color: red;text-align: center;" >Utente o Password sbagliati</p>
        <div *ngIf="!spinner" class="col-lg-12" style="margin-bottom: 1vh;">
          <input
            type="submit"
            value="Login"
            class="btn btn-success btn-block btn-lg "
            (click)="autentication()"
          />
        </div>
        <!-- Spinner durante il caricamento del login -->
        <div class="text-center">
          <div *ngIf="spinner" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div id="register-link" class="text-right">
          <a routerLink="/sign-up" class="text-info">Register here</a>
        </div>
      </form>
    </div>
  </div>
</div>
