<div class="col-lg-9" style="margin: auto;">
  <h2 class="d-flex justify-content-center">Dettaglio utente:</h2>
  <ul>
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-3">
          <h5>Nome</h5>
        </div>
        <div class="col-lg-8">
          {{ mostraUtente.nome }}
        </div>
        <div class="col-lg-1 d-flex align-items-center">
        <i class="fas fa-pencil-alt d-flex justify-content-end"></i>
      </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-3">
          <h5>Cognome</h5>
        </div>
        <div class="col-lg-8">
          {{ mostraUtente.cognome }}
        </div>
        <div class="col-lg-1 d-flex align-items-center">
          <i class="fas fa-pencil-alt d-flex justify-content-end"></i>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-3">
          <h5>User</h5>
        </div>
        <div class="col-lg-8">
          {{ mostraUtente.login }}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-3">
          <h5>Email</h5>
        </div>
        <div class="col-lg-8">
          {{ mostraUtente.email }}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-3">
          <h5>Password</h5>
        </div>
        <div class="col-lg-8">
        </div>
        <div class="col-lg-1 d-flex align-items-center">
          <i class="fas fa-pencil-alt d-flex justify-content-end"></i>
        </div>
      </div>
    </li>
  </ul>
</div>
