  <div class="modal-header blu">
    <h4 class="modal-title" style="color: white;" id="modal-basic-title">Modifica Libro</h4>
    <button type="button" class="close" style="background-color: white;" aria-label="Close" (click)="close(content)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <ul class="list-group">
        <li class="list-group-item">Codice<input type="text"/></li>
        <li class="list-group-item">Titolo<input type="text"/></li>
        <li class="list-group-item">Autore<input type="text"/></li>
        <li class="list-group-item">Trama<input type="text"/></li>
        <li class="list-group-item">Prima Edizione<input type="text"/></li>
      </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>


<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
