  <!-- <div class="modal-header blu">
    <h4 class="modal-title" style="color: white;" id="modal-basic-title">Modifica Libro</h4>
    <button type="button" class="close" style="background-color: white;" aria-label="Close" (click)="close(content)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <ul class="list-group">
        <li class="list-group-item">Codice<input type="text" /></li>
        <li class="list-group-item">Titolo<input type="text"/></li>
        <li class="list-group-item">Autore<input type="text"/></li>
        <li class="list-group-item">Trama<input type="text"/></li>
        <li class="list-group-item">Prima Edizione<input type="text"/></li>
      </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div> -->

  <form style="padding: 5%;">
    <div class="modal-header blu row">
      <div class="d-flex justify-content-start">
        <h4 class="modal-title" style="color: white;" id="modal-basic-title">Modifica Libro</h4>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="close" style="color: white;" aria-label="Close" (click)="close(content)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div style="margin-top: 5px;">
      <div class="form-group">
        <label for="codice">Codice</label>
        <input type="text" class="form-control" id="codice" placeholder="1001">
      </div>
      <div class="form-group">
        <label for="titolo">Titolo</label>
        <input type="text" class="form-control" id="titolo" placeholder="ciao">
      </div>
      <div class="form-group">
        <label for="autore">Autore</label>
        <input type="text" class="form-control" id="autore" placeholder="piero">
      </div>
      <div class="form-group">
        <label for="edizione">Prima Edizione</label>
        <input type="number" class="form-control" id="edizione" placeholder="2020">
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">salva</button>
    </div>
  </form>


<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
