<!-- NAVBAR -->
<nav class="navbar">
  <div class="collapse navbar-collapse d-flex flex-row" id="navbarNav">
    <!-- LOGO -->
    <img src="assets/logo.png" style="width: 10%;"/>
    <!-- BARRA COLORATA -->
    <ul class="navbar-nav d-flex flex-row flex-grow-1" style="background-color:rgb(40, 49, 72);">
      <!-- OPZIONI NAVBAR PER ACCEDERE -->
      <div *ngIf="false"  class="schermata-iniziale d-flex flex-row flex-row-reverse"
        style="width: 100%;">
        <li class="nav-item active  p-2">
          <a routerLink="/sign-up" class="nav-link bianco" href="#">
            <i class="fas logo fa-user-plus" style="margin-right: 10px;"></i>Sign up
          </a>
        </li>
        <li class="nav-item active p-2" style="margin-right: 10px;">
          <a routerLink="/login" class="nav-link bianco" href="#">
            <i class="fas logo fa-sign-in-alt" style="margin-right: 10px;"></i>Login
          </a>
        </li>
      </div>
      <!-- OPZIONI NAVBAR CON LOGIN EFFETTUATO -->
      <div  class="schermata-secondaria d-flex flex-row flex-grow-1">
        <li class="nav-item active mr-auto p-2">
          <a routerLink="/libreria" class="nav-link bianco" href="#">Libreria</a>
        </li>
        <li class="nav-item active p-2">
          <a routerLink="/profilo-utente" class="nav-link bianco" href="#">
            <!-- FONT AWESOME -->
            <i class="fas logo fa-user-astronaut" style="margin-right: 10px;"></i>Utente
          </a>
        </li>
        <li class="nav-item active p-2">
          <a routerLink="/login" class="nav-link bianco" href="#">
            <!-- FONT AWESOME -->
            <i class="fas logo fa-sign-out-alt"></i>
          </a>
        </li>
      </div>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- <div class="col-lg-12" >
  <div class="row" style="background-color: chartreuse; height: 70px;">
    <div class="schermata-iniziale">
      <button>Sign in</button>
      <button>Login</button>
    </div>
    <div class="schermata-secondaria">
      <button>Libreria</button>
      <button>Utente</button>
      <button>Logout</button>
    </div>
  </div>
</div>
<div class="col-lg-12" style="background-color:chocolate ; ">aaa
  <router-outlet></router-outlet>
</div> -->
