
<div class="container">
  <div class=" card bg-dark text-white" >
    <img class="card-img" src="assets/bookshelf.jpg" alt="Card image">
    <div class="card-img-overlay text-center">
      <h3 class="card-title">Benvenuti nella nostra applicazione</h3>
      <h5 class="card-text">In questo progetto realizzato da un team di 4 persone abbiamo simulato una esperienza lavorativa creando una web application da zero.</h5>
      <h5 class="card-text">Nell'applicazione è possibile formare con chi si vuole un catalogo di libri letti.</h5>
      <p class="card-text">Qui sotto son presenti informazioni aggiuntive! Buona lettura.</p>
    </div>
  </div>
  <hr>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="assets/frontend.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tecnologie frontend</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/backend.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tecnologie backend</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/about.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Il team</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <hr>
  <div class="text-center">
  <h5 class="card-text">Un ringraziamento particolare a Marco Gerosi e Federico Verdenelli, i nostri mentori.</h5>
      <blockquote class="blockquote">
        <p class="mb-0">"Ma che è stammerda?"</p>
        <footer class="blockquote-footer">Federico Verdenelli -<cite title="Source Title">Corso Intent</cite></footer>
      </blockquote>
      <blockquote class="blockquote">
        <p class="mb-0">"Raga guardate che sito ho fatto ieri notte"</p>
        <footer class="blockquote-footer">Marco Gerosi -<cite title="Source Title">Corso Intent</cite></footer>
      </blockquote>
    </div>
</div>
